<aside
  class="lg:col-span-1 h-fit flex flex-col gap-8 rounded-2xl border border-gray-300 dark:border-white/10 bg-white dark:bg-white/0 backdrop-blur-sm p-8"
>
  <div class="flex flex-col gap-6">
    <h2 class="text-xl font-bold text-violet-500">
      {{ 'contact.info.title' | translate }}
    </h2>

    <ul class="flex flex-col gap-5">
      @for (item of contactItems; track item.key) {
      <li class="flex items-center gap-4">
        <span
          class="shrink-0 w-9 h-9 rounded-full bg-violet-500/10 flex items-center justify-center text-violet-400"
        >
          <mat-icon class="scale-75">{{ item.icon }}</mat-icon>
        </span>
        <div class="flex flex-col gap-0.5">
          <span class="text-sm font-semibold text-white">
            {{ 'contact.info.' + item.key + '.label' | translate }}
          </span>
          <span class="text-sm text-gray-400">{{
            'contact.info.' + item.key + '.line' | translate
          }}</span>
        </div>
      </li>
      }
    </ul>
  </div>

  <hr class="border-gray-300 dark:border-white/10" />

  <div class="flex flex-col gap-4">
    <h3 class="text-sm font-semibold text-gray-700 dark:text-white">
      {{ 'contact.social.title' | translate }}
    </h3>
    <app-social-links-item />
  </div>
</aside>
